@model IEnumerable<NoStop.MODEL.Setor>

@{
    ViewBag.Title = "Index";
}

<h2>Setores</h2>
 @if (Session["usuarioLogadoID"] != null && Session["Role"].ToString() == "admin")
 { 
<p>
        @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estabelecimento.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estabelecimento.Nome)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Entrar na fila", "EntraNaFila", "FilaDatas", new { idSetor = item.ID, idUsuario = Session["usuarioLogadoID"] }, new { @class = "btn btn-success" }) |
            @if (Session["usuarioLogadoID"] != null && Session["Role"].ToString() == "admin")
            {
                @Html.ActionLink("Atender a fila", "FilaAtendente", "FilaDatas", new { idSetor = item.ID }, new { @class = "btn btn-warning" }) <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" }) 
            }

        </td>
    </tr>
}

</table>
